body {
		 font-family: arial;
		 background-color: rgb(50,0,50);}
h1 {
		 color: rgb(255,0,0);}
		 
h2 {
		 color: rgb(255,0,0);}

p {
		 color: rgb(255,255,255);}

a:link {
         color: rgb(255,255,255);}

a:visited {
         color: rgb(0,0,255);}

a:hover {
         color: rgb(255,0,0);}
