body {
		 font-family: arial;
		 background-color: rgb(50,0,50);}
h1 {
		 color: rgb(255,0,0);}
		 
h2 {
		 color: red;}
p {
		 color: white;}
		
.bioInfo 
{
		background-color: brown;
		width: 50%;
		min-width: 500px;
		max-width: 700px;
		padding: 10px;
} 

#copyright
{
		color: rgb(0,255,0);}
}	
