body {
		 font-family: Courier;
		 background-color: rgb(50,0,50);
		 width: 600px;
		 }
h1 {
		 color: rgb(255,0,0);
		 background-color: white;
		 text-align: center;
		 }
		 
h2 {
		 color: rgb(255,0,0);}

p {
		 color: rgb(255,255,255);
		 position: relative;
		 left: 40px;
		 top: 30px;
		 background-color: white;}
